@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", serif;
}
header{
    background-image: url(img/fundo.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    text-align: center;
    padding-top: 20px;   
}
header>img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
header>h1{
    color: white;
    padding: 10px;
    background-size: 16px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.76);
}
header> p{
    color: white;
    padding: 5px;
    background-size: 16px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.76);
}
#p2{
    
    padding: 5px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: linear-gradient(to right, #744909a9, #775208dc);
    padding: 0.5rem;
   
}
nav>a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.3s;
}
nav a:hover{
    background-color: #704108;
    color: white;
}
main{
    padding: 1rem;
}
main>section{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}
.imagem-cardapio{
    width: 150px;
    height: auto;
    margin-right: 1rem;
    border-radius: 5px;
}
article > h2{
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
    color: #333;

}
article>p{
    margin: 0;
    color: #666;
}
button{
    
    bottom: 0;
    right: 0;
    padding: 0.2rem 1rem;
    background-color: #28a745;
    color: #5f5757;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0 0.2);

}
button:hover{
    background-color: #218838;
}