@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&family=Poppins:wght@100;400;500;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&family=Poppins:wght@100;400;500;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font-padrao:Arial, verdana, helvetica, sans-serif;
    --font-destaque:"bebas neue", sans-serif;
    --font-conteudo:"Anaton", serif; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html, body{
    width: 100%;
    height: 100vh;
    /* width: 100vw; */
   
}
body{
    font-family: var(--font-padrao);
    background-color: #f3eeeea3;
    /* width:100vh; */
    
   
}
/* inicio banner */

header{
    align-items: center; 
    width: 100%;
    height: auto;
    
    
}
#banner{

    background-image: url(img/fundo.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    text-align: center;
    padding-top: 20px; 
    
   
    
}
#banner .logo-banner{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

h1{
    font-family: var(--font-destaque);
    color: white;
    padding: 10px;
    background-size: 16px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.76);
}
header> p{
    font-family: var(--font-conteudo);
    color: white;
    padding: 5px;
    background-size: 16px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.76);
}
#p2{
    background-color: #218838;
    width: 200px;
    height: auto;
    padding: 5px;
    padding-bottom: 5px;
    align-items:center;
    font-family: var(--font-conteudo);
    margin: auto;
}

/* final banner */

/* inicio munu navegação */
#Menu{
    display: flex;
    /* align-items: center; */
    width: 100%;
    background-image: linear-gradient(to right, #744909a9, #775208dc);
    padding-top: 10px; 
    
    
    
} 
ul{
  
    padding: 10px;
    margin: auto;
    list-style: none;    
}
.itens-menu{
    font-family: var(--font-conteudo);
    text-decoration: none;
    color: white;
    padding: 0 2rem;
    width: 200px;
    height: auto;
    margin: 5px;
    font-weight: bold;
    border-radius: 3px;
    transition-duration: 0.3s;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.76);
   
    
   

}
body > nav> a{
    position: sticky;
    top: 0px;
    

}
nav a:hover{
    background-color: #704108;
    color: white;
}


main{
   margin-top: 5px;
    padding: 2px;
   
   
}
main>section{
    display: flex; 
    align-items: center;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
   
}
.imagem-cardapio{
    width: 150px;
    height: auto;
    margin-right: 1rem;
    border-radius: 5px;
}
.titulos{
    font-family: var(--font-conteudo);
    padding: 5px;
    margin-bottom: 5px;
    color: #1c1b1b;
    background-image: linear-gradient(to right, #744909a9, #775208dc);
    color: white;
}
article > h2{
    font-family: var(--font-conteudo);
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
    color: #1c1b1b;

}
article>p{
    font-family: var(--font-padrao);
    margin: 0;
    color: #666;
}
/* .carrinho{
    
    bottom: 0;
    right: 0;
    padding: 0.2rem 1rem;
    background-color: #28a745;
    color: #5f5757;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0 0.2);

} */
.valor{
    
    font-family: var(--font-destaque);
     font-size: bold;
    padding: 15px;
    margin: auto;
  
   
}
#cart-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

/* button :hover{
    background-color: #218838;
} */
.desc-acompanhamento{
    font-family: var(--font-destaque);
    text-align: center;
    margin: 2px;
}
/* footer{
    background-color: #218838;
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* @media screen and (max-width:800px){
    body{
        font-size: 16px;
        padding: 10px;
    }
    header{
        width: 100%;
        flex-direction: column;

    }

} */

